@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container,button{  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;display: flex;
    align-items: center;
    justify-content:center;height: 100vh;}



.calculator {
    width: 250px;
  
    border: 1px solid #ccc;
    border-radius: 5px;
padding: 10px;
    background-color: #000000;
}

.display {

    padding: 20px;
    background-color: #000000;
    color: white;
 height: 40px;
    border-radius: 5px;
    text-align: right;
}

.keys {
    padding: 10px;
    background-color: #000000;
    color: white;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 5px;
}

button {
    /* padding: 10px; */
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 50%;
}


.zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 20px;
}


button{background-color: #383434;color: white;}


.operator {
    background-color: #ff9800;
}
.operand{color: #383434;  background-color: #ccc;}
